.btn--blue {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
 	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	background: #1865f2;
  color: white;
}

.btn--blue:hover {
  background: rgb(1, 57, 121);
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn--orange {
  width: 80px;
  padding: 8px;
  border-radius: 5px;
 	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	background: #f37121;
	font-size: 13px;
  color: white;
}

.btn--orange:hover {
  background: rgb(1, 57, 121);
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
