.container {
  	width: 800px;
  	padding: 10px;
  	margin: 10px auto;
}

.inside-container {
	padding: 10px;
	padding-top: 40px;
  	margin: 10px auto;
}

@media (max-width: 1024px) {
  	.container {
   	 width: 800px;
  	}
}

@media (max-width: 768px) {
  	.container {
  	  width: 600px;
  	}
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}
